*{
    margin: 0;
    padding: 0;
}
body{
    
    background-color: rgb(116, 116, 116);
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #1a0d17;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    text-align: center;
}

nav ul {
    text-align: center;
}

header nav ul li {
    margin: 0 1rem;
    list-style: none; 

    text-align: center;
    
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: transparent;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

button{
    text-align: center;
    margin: auto 0;
}

form{
    text-align: center;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

@media (max-width: 600px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 0.5rem 0;
    }
}
